# ===[ APP ]=== #

# ===[ PYTHON PACKAGE ]=== #
/build/
/dist/
/MANIFEST
/*.egg-info/

# ===[ OTHER ]=== #

# IDE Projects
.idea
.nbproject
.project
*.sublime-project

# Temps
*~
*.tmp
*.bak
*.swp
*.kate-swp
*.DS_Store
Thumbs.db

# Utils
.sass-cache/
.coverage

# Generated
__pycache__
*.py[cod]
*.pot
*.mo

# Runtime
/*.log
/*.pid

# ===[ EXCLUDES ]=== #
!.gitkeep
!.htaccess
