os: linux
sudo: false
language: python

matrix:
  include:
    - python: 2.7
      env: TOXENV=py27
    - python: 3.4
      env: TOXENV=py34
    - python: 3.5
      env: TOXENV=py35
    - python: 3.6
      env: TOXENV=py36
    - python: 3.7-dev
      env: TOXENV=py37
    - python: pypy
      env: TOXENV=pypy
    - python: pypy3
      env: TOXENV=pypy
    - {python: 3.6, env: TOXENV=py36-pyyaml5.1}
    - {python: 3.6, env: TOXENV=py36-pyyaml3.13}
    - {python: 3.6, env: TOXENV=py36-pyyaml3.12}
    - {python: 3.6, env: TOXENV=py36-pyyaml3.11}
    - {python: 3.6, env: TOXENV=py36-pyyaml3.10}
install:
  - pip install tox
cache:
  - pip
script:
  - tox
