---
name: Build and verify package, with optional upload to PyPI

on:
  push:
    branches: [main]
    tags: ["*"]
  pull_request:
    branches: [main]
  release:
    types:
      - published

permissions:
  contents: read
  id-token: write

jobs:
  build-package:
    name: Build and verify package
    runs-on: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          show-progress: false

      - uses: hynek/build-and-inspect-python-package@v2

  release-pypi:
    name: Publish released package to PyPI
    environment: release-pypi
    if: github.event.action == 'published'
    runs-on: ubuntu-24.04-arm
    needs: build-package

    steps:
      - name: Download previously built packages
        uses: actions/download-artifact@v5
        with:
          name: Packages
          path: dist

      - name: Upload packages
        uses: pypa/gh-action-pypi-publish@release/v1
